@import 'base';
@import 'variables';
@import 'mixins';
@import 'extends';

.container {
    display: flex;
    justify-content: space-around;

    .box {
        padding: 20px;
        width: 30%;
        color:black;
        background-color: white;
        border-radius: 8px;

    

        &.active {
            background: rgba(12, 92, 1, 0.637);
        }

        h2 {
            font-family: $font-primary;
            font-size: 22px;
            margin: 10px 20px 30px 20px;  
        }

        p {
            font-size: 18px;
            font-family: $font-secondary;

            &.paragrafo {
                display: none;
            }

        }

        a {
            color:green;

            &:hover {
                color: yellow;


                & + img.imagem {
                    display: block;
                }
            }

        }

        .imagem {
            display: none;
        }

        ul {
            @include cores
        }

        h3, span {
            @include titulo (20px, 100px, rebeccapurple, 5px solid rgb(5, 144, 5), 'sans-serif')
        }

        h5, h6 {
            @include roxo
        }

        h4 { 
            @include h4 (chartreuse, black, 50%)
        }

        .success {
           @extend %box-style;
           @include bg-effect(success);
        }

        .danger {
            @extend %box-style;
            @include bg-effect(danger);
        }

        .warning {
            @extend %box-style;
            @include bg-effect(warning);
        }
    }    
}   