body {
    background-color: black;
}

:root {
    --primeiro: rgb(43, 255, 0);
    --segundo: rgb(233, 0, 0);
    --terceiro: rgb(247, 19, 114);
}

h2 {
    color: var(--primeiro);
}

p {
    color: var(--terceiro);
}

h5 {
    color: var(--primeiro);
}

h6 {
    color: var(--segundo);
}

button {
    color: var(--terceiro);
    background-color: var(--terceiro);
}