@mixin cores {
    background: blue;
    color: brown;
    list-style: none;
}

@mixin titulo ($tamanhofonte, $fontepeso, $corfonte, $borda, $fontefamilia) {
    font-size: $tamanhofonte;
    font-weight: $fontepeso;
    color: $corfonte;
    border: $borda;
    font-family: $fontefamilia;
}

@mixin roxo {
    background: black;
    color: blueviolet;
}

@mixin h4 ($cor: 0, $cortexto: 0, $redondo: 0) {
    background: $cor;
    color: $cortexto;
    border-radius: $redondo;

}

@mixin bg-effect($effect) {
    @if $effect == success {
        background-color: green;
    }

    @else if $effect == warning {
        background-color: yellow;
    }

    @else if $effect == danger {
        background-color: red
    }
}


